*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ffffff;
    color: #62825D;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding: 1.5em;
    border-bottom: 1px solid #ddd;
    color: #62825D;
}

header button {
    background: none;
    border: none;
    font-size: 1em;
    color: #62825D;
    cursor: pointer;
    width: 20%;
}

header button a {
    text-decoration: none;
    color: #62825D;
    font-weight: bold;
}

header h2 {
    width: 80%;
    padding-right: 30vh;
}

main{
    padding-top: 1em ;
}

.button-bawah{
    background-color: #ffffff;
    text-decoration: none;
    color: #62825D;
    font-weight: bold;
    padding: 1em;
    border-radius: 2em;
    margin: 1.5em 0;
    border: 2px solid #62825D;
}

.button-bawah a {
    text-decoration: none;
    color: #62825D;
    font-weight: bold;
}

.button-bawah:hover {
    background-color: #62825D;
    color: #ffffff;
}

.button-bawah:hover {
    background-color: #62825D;
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    width: 70%;
    height: 80vh;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.scroll-container{
    overflow: scroll;
    height: 76%;
    scrollbar-width: none;
        
}

.button-container{
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
}


ul li{
    background-color: #ffffff;
    border: 1.5px solid #62825D;
    margin: 1.2em 2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    display: grid ;
    justify-content: space-between;
    list-style: none;
    border-radius: 20px;
}

ul li button{
    width: 5em;
    margin: 0.5em; 
    border-radius: 0.5em;
}

footer{
position: fixed;
bottom: 0;
}


@media (max-width: 650px) {
    span{
        display: none;
    }

    h1{
        font-size: 1.7em;
    }
}

@media (max-width: 420px){
    h1{
        font-size: 1.2rem;
    }
}

@media (max-width: 420px){
    h1{
        font-size: 1rem;
    }
}